.App {
	text-align: center;
}
.card-container {
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	border: 1px solid blue !important;
	border-radius: 25px !important;
	/* padding: 10px; */
	min-width: 290px !important;
}
.card-body {
	padding: 25px !important;
}
.list {
	line-height: 40px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.check,
.cross {
	margin-right: 15px;
}
.card-price {
	font-size: 3rem;
}
.period {
	font-size: 0.8rem;
}
.btn {
	width: 270px;
	border-radius: 25px !important;
	padding: 10px 50px;
}
